<html>
    <head>
        <meta charset="UTF-8">
        <title> Login </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">          
    </head>
    <script>
      window.alert("Logged in successfully");
    </script>
    <body></br></br></br></br></br>
        <div align="center">
            <div align="center" class="border">
               <div class="header">
                  <h1 class="word">Welcome back!</h1>
                </div></br></br></br>
                <form method="post" action="/user">
                    <h2 class="btn">
                    <button type="submit" class="btn" value="create" name="create" id="create">Create new portfolio</button>
                    <br>
                    <br>
                    <button type="submit" class="btn" value="view" name="view" id="view">View your portfolio</button>
                </form>
              </h2>
            </div>
          </div>
    </body>
</html>